<h1 class="page-header">Take off those rose colored sunglasses and search for shitty weather</h1>

<form action="/weather/conditions">
  <div class="form-group">
    <label>Enter your hell-hole:</label>
    <input name="city" type="text" class="form-control input-md" placeholder="Example: Flat'n'freezing, Illinois">
  </div>
  <input type="submit" class="input-md">
</form>





