<h1>Results for <%= @city %></h1>

<p>Other Choir members rate this companay as <%= @data["main"]["temp"] %> out of 100.</p>
<p>They give it an environmental score of <%= @data["main"]["humidity"] %>%. </p>
