<!-- <h1 class="page-header">Welcome to The Choir.</h1>
<h3>Singing Truth to Power.  Together</h3>

<form action="/choir/search">
  <div class="form-group">
    <label>Enter Company or Brand Name.</label>
    <input name="city" type="text" class="form-control input-md" placeholder="Example: Hostess or Twinkies">
  </div>
  <input type="submit" class="input-md">
</form>
 -->
<!DOCTYPE html>
<html>
<head>
  <title>The Choir</title>

  <!--Need to style this header: Font size, Center, Color-->

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

</head>

<body>
    <div class ="container">
      <div class="page header">
        <h1>The Choir</h1>
        <h5>Singing Truth to Power.  Together.</h5>
    </div>

<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"> </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Heroes</a></li>
      <li><a href="#">Villans</a></li>
      <li><a href="#">Trends</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">My Voice</a></li>
      <li><a href="#">Community</a></li>
    </ul>

    <!-- <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Companies & Brands">

      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> -->

  </div><!-- /.navbar-collapse -->
</nav>


<!-- SEARCH ENGINE FROM OPEN WEATHER -->
<form action="/choir/searchresults">
  <div class="form-group">
    <label>Search for Companies or Brand Names.</label>
    <input name="city" type="text" class="form-control input-md" placeholder="Example: Hostess or Twinkies">
  </div>
  <input type="submit" class="input-md">
</form>

<!-- SEARCH BAR FROM BOOTSTRAP -->
<!-- <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Search</a></li>
          <li><a href="#">Yeay Hero</a></li>
          <li><a href="#">Booo Villan</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
       </ul>
      </div></btn-group
   </div>/input-group
  </div>/.col-lg-6
</div>/.row
 -->

<div class="page header">
  <h1>What's Hot</h1>
</div>

<div class="row">
        <div class="col-md-3">
        <img class="col-md-9" src="http://talk.onevietnam.org/assets/2011/10/chipotle.png">
        </div>
      <div class="col-md-9">
        <h2>Heroes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Hero! <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Savior</a></li>
            <li><a href="#">Human Rights</a></li>
            <li><a href="#">Animal Lover</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Nemesis <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Polluter</a></li>
            <li><a href="#">Human Rights Abuser</a></li>
            <li><a href="#">Animal Torturer</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>

<div class="row">
        <div class="col-md-3">
        <img class="col-md-9" src="http://jeroenbours.com/staging/wp-content/themes/default/uploads/BP_logo.jpg.jpg">
        </div>
      <div class="col-md-9">
        <h2>Villans</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Hero! <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Savior</a></li>
            <li><a href="#">Human Rights</a></li>
            <li><a href="#">Animal Lover</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Nemesis <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Polluter</a></li>
            <li><a href="#">Human Rights Abuser</a></li>
            <li><a href="#">Animal Torturer</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page header">
  <h1>Top News</h1>
</div>

      <div class="col-md-9">
        <h2>INSERT HEADLINE HERE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="row">
        <div class="col-md-3">
        <img class="col-md-9" src="http://www.runninglovingliving.com/wp-content/uploads/2012/08/Walmart-Logo.jpg">
        </div>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Hero! <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Savior</a></li>
            <li><a href="#">Human Rights</a></li>
            <li><a href="#">Animal Lover</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Nemesis <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Polluter</a></li>
            <li><a href="#">Human Rights Abuser</a></li>
            <li><a href="#">Animal Torturer</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>


      <div class="col-md-9">
        <h2>INSTERT HEADLINE HERE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Hero! <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Savior</a></li>
            <li><a href="#">Human Rights</a></li>
            <li><a href="#">Animal Lover</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            My Nemesis <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Eco Polluter</a></li>
            <li><a href="#">Human Rights Abuser</a></li>
            <li><a href="#">Animal Torturer</a></li>
            <li><a href="#">SOME OTHER ISSUE HERE</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="row">
        <div class="col-md-3">
        <img class="col-md-9" src="http://www.mentalfloss.com/blogs/wp-content/uploads/2009/07/HEINZ.jpg">
        </div>
      </div>
    </div>
</body>
</html>




