<div class="page-header">
  <h1>Product Details</h1>
</div>

<div class="row">
  <div class="col-sm-1">
    <img src="http://www.seriouseats.com/images/20100727-burger-spatula-jpg">
  </div>
  <div class="col-md-8">
    <h3>Serious Eatz Spatula</h3>
    <p class="lead">$19, and worth every penny</p>
    <p>The Serious Eatz spatula has the magical ability to make your brugers actually taste better.  That's right.  Not only will all the chicks dig your schtick, all styled out and flipping burgers smoothly and cleanly, but the meat will taste a little meatier due to the built in slow-release flavor crystals.</p>
  </div>
</div>
